# Add the Finance API KEY
SECRET_KEY=my_key

# Add the connecting postgresql database URL
# Example: postgres://admin:password@host:5432/bot_data
DATABASE_URL=url

# Add the interval in seconds to make the request in the API, the recommended is 300
TIME=300