TELEGRAM_BOT_TOKEN=123
DATABASE_URL=postgres://
TABLE_NAME=name_table
MESSAGE_ABOUT = 'Este bot é um projeto opensource, desenvolvido durante estudos, sem nenhuma finalidade comercial, com o objetivo de compartilhar cotações de algumas moedas, em relação ao Real. Os seus dados são acessados a partir da API gratuita da: https://hgbrasil.com/. O Bot foi escrito utilizando a linguagem de programação Python, e o código fonte está disponível em: https://github.com/luisgs7/pip-packages, no qual qualquer pessoa pode contribuir com o projeto :)'